*{
    margin:0;
    padding:0;
}
.sec-2{
    font-size: 20px;


}
.sec-1{
    margin-top:20px;
    font-size: 13px;
}
.sec-1-1{
    font-weight: bold;
    font-size: 13px;
    margin-top: 10px;
    color: grey;
    
}
.content-1{
font-size:25px;
font-weight: bold;
margin-top: 15px;
}
.des{
    font-weight: bolder;
    font-size: 12px;
    margin-top: 10px;
}
.head-sec{
    margin-top: 50px;
}
.but-3{
    margin-top: 7px;
    font-size: smaller;
    color:white;
    border: none;
    padding: 3px;
}
.sub-sec-1{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}