.navi{
    margin-top: 50px;
}

.head-2{
    text-align: center;
    
}
.hed{
    font-size: 70px;

}
.head-3{
    text-align: center;

}

.a{
    padding-left: 20px;
    margin-top: 70px;
}
.c{
    text-align: center;
}
.sub-sec{
    font-size: 25px;
}
.head-4{
    margin-top: 70px;
    background-color: rgb(239, 239, 239);
    padding:10px;
 
}
 .sec2{
    text-align: center;
    font-size: 40px;
    
}
 .col-2{
     border-radius: 10px;
}
.sector-1{
    display: grid;
    grid-template-columns: repeat(3,200px);
    gap:60px;
    justify-content: center;
    font-size: 15px;
  }
  .text{
        margin-top: 10px;
        font-size: 20px;
        color: gray;
  }
@media only screen and (max-width:770px){
    .navigation{
        display: none;
    }
    .class1{
        display: block;
    }
    
}
 
  .box{
    background-color:white;
    padding:20px;
    text-align: center;
    border-radius: 15px;
  }
   .sector-2{
    display: grid;
    grid-template-columns: repeat(2,600px);
    justify-content:center;
    /* padding:50px */
    font-size: 18px;
  }
.text-2{
  text-align: center;
}
  .img-1{
    width:50px;
    height:50px;
    border-radius:10px;
  }
       @media only screen and (max-width:730px){
       .sector-1{
        display:grid;
        grid-template-columns: repeat(2,200px);
        
        }
  }
     @media only screen and (max-width:550px){
      .sector-1{
        display:grid;
        grid-template-columns: repeat(1,300px);
    
        }
    
  }       
       @media only screen and (max-width:450px){
          .sec2{
            font-size:25px ;
          }
        }

        @media only screen and (max-width:450px){
           .hed{
            font-size:50px ;
           }
        }
        @media only screen and (max-width:1250px){
          .sector-2{
            display: grid;
            grid-template-columns: repeat(1,600px);
          }
        }
        @media only screen and (max-width:600px){
          .sector-2{
            display: grid;
            grid-template-columns: repeat(1,300px);
          }
        }

        
  
