.navi{
    margin-top: 50px;
}

.head-2{
    text-align: center;
    
}
.hed{
    font-size: 70px;

}
.head-3{
    text-align: center;

}

.a{
    padding-left: 20px;
    margin-top: 70px;
}
.c{
    text-align: center;
}
.sub-sec{
    font-size: 25px;
}
.head-4{
    margin-top: 70px;
    background-color: rgb(209, 205, 205);
    padding:10px;
}
 .sec2{
    text-align: center;
    font-size: 40px;
    
}
 .col-2{
border-radius: 10px;

}


